$blue: #0030ff;

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  background: $blue;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -webkit-fill-available;
  justify-content: space-between;
  .intro {
    p {
      color: white;
      font-size: 24px;
      font-weight: 300;
    }
  }
}

.hero,
.principles,
footer {
  padding: 30px;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .logo {
    fill: white;
    width: 60px;
  }
  h1 {
    color: white;
    font-size: 18px;
  }
}

.hero-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: white;
    font-size: 24px;
    font-weight: 900;
  }
  .social {
    a {
      text-decoration: none;
      svg {
        margin-left: 10px;
        .socialIcon {
          stroke: white;
        }
      }
    }
  }
}

.principles {
  h2 {
    font-size: 24px;
    text-align: center;
  }
  ul {
    padding-left: 20px;
    li {
      font-size: 18px;
      margin: 1em 0;
    }
  }
}

footer {
  align-items: center;
  background: $blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .hero,
  .principles {
    padding: 60px;
  }

  .hero {
    height: 100vh;
    .intro {
      p {
        font-size: 36px;
      }
    }
  }

  .hero-footer {
    flex-direction: row;
  }

  .principles {
    h2 {
      font-size: 32px;
    }
    ul {
      li {
        font-size: 24px;
      }
    }
  }

  footer {
    flex-direction: row;
    padding: 30px 60px;
  }
}
